<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADLacma.Properties.Settings.sherazadeConnectionString"
            connectionString="Data Source=sherazade.database.windows.net;Initial Catalog=sherazade;User ID=adminjhohan;Password=19922017Educ@cion"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>